html {
  scroll-behavior: smooth;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  background-color: lightgray;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  padding: 20px;
}

/* Main Container */
.card {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 80px 20px;
}

.hero-content {
  text-align: left;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* Headings */
h1 {
  color: #02060f;
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 20px;
}

.title {
  color: blue;
}

.intro {
  color: purple;
  font-size: 24px;
}

/* Paragraph */
p {
  font-size: 18px;
  color: #6b6969;
  margin-bottom: 20px;
}

/* Sections */
section {
  margin-bottom: 30px;
}

/* Buttons */
.btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.btn:hover {
  background-color: red;
}

/* Skills */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.skill {
  background-color: #2563eb;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
}

/* Projects */
.projects-container {
  display: flex;
  gap: 20px;
}

.project {
  flex: 1;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.project:hover {
  transform: translateY(-5px);
}

/* Contact Form */
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #2563eb;
}

/* Footer */
footer {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}